<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,width=device-width" />
    <meta content="我的微博" name="description" />
    <title>微博-随时随地发现新鲜事</title>

    <script src="/ueditor/ueditor.config.js" type="text/javascript"></script>
    <script src="/ueditor/ueditor.all.min.js" type="text/javascript"></script>
    <script src="/ueditor/lang/zh-cn/zh-cn.js" type="text/javascript"></script>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/css/login.css" rel="stylesheet" type="text/css"/>
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script src="/js/Login_Register.js" type="text/javascript"></script>
    <script src="/js/Comment&Likes.js" type="text/javascript"></script>
    <script src="/js/Follow.js" type="text/javascript"></script>
    <script src="/js/publish.js" type="text/javascript"></script>
    <script src="/js/rank.js" type="text/javascript"></script>
    <script src="/js/verify.js" type="text/javascript"></script>
    <script src="/js/Aite.js" type="text/javascript"></script>
    <script type="text/javascript">
        var ue = UE.getEditor('content',{
            initialFrameHeight: 100,
            toolbars: [[
                'undo', //撤销
                'redo', //重做
                'bold', //加粗
                'italic', //斜体
                'underline', //下划线
                'strikethrough', //删除线
                'blockquote', //引用
                'link', //超链接
                'unlink', //取消链接
                'emotion', //表情
                'pasteplain', //纯文本粘贴模式
                'selectall', //全选
                'time', //时间
                'date', //日期
                'fontfamily', //字体
                'fontsize', //字号
                'forecolor', //字体颜色
                'fullscreen', //全屏
                'insertimage', //多图上传
                'preview',
                'source'
            ]]
        });
    </script>
</head>
<body>
<!--第一行，首页、登陆注册、退出-->
    <div class="header">
        <div class="container" style="height: 80px;">
            <div class="row">
                <div class="col-2" style="padding: 2px">
                    <img src="/img/Myweibo.png" height="48px" alt="">
                </div>
                <div class="col-5">
                    {% if login != None %}
                    <div class="row" style="padding: 3px; font-size: large; font-weight: bold">
                        <div class="col-4"></div>
                        <div class="col-4" style="width:80px">
                            <a href="/myweb" id="header_myweb">
                                <span>我的动态</span>
                            </a>

                        </div>
                        <div class="col-4" style="width:80px">
                            <!--红点-->
                            <!--<div style="width:5px;height:10px;border-radius:50%;background-color:red;"></div>-->
                            <a href="/message" id="header_myMessage">
                                <span>我的消息</span>
                            </a>
                        </div>


                    </div>
                    {% endif %}
                </div>
                <div class="col-5">
                    <div class="row" style="padding: 3px; font-size: large; font-weight: bold">
                        <div class="col-3">
                            <a href="/rank">
                                <img src="/img/home.png" height="25px" alt="" style="margin-top: -3px;margin-right: 2px">
                                首页
                            </a>
                        </div>
                        <div class="col-5">
                            {% if login == None %}
                            <a href="" data-toggle="modal" data-target="#MyModal" id="header_lr" style="display: block">
                                <img src="/img/login.png" height="20px" alt="" style="margin-top: -5px;margin-right: 5px">
                                登录 / 注册
                            </a>
                            {% else %}
                             欢迎您: {{login}}
                            {% endif %}
                        </div>
                        <div class="col-4">
                            {% if login == None %}
                            伪博欢迎您
                            {% else %}
                            <a id="header_exit" onclick="sendExit()" style="cursor:pointer">
                                <img src="/img/exit.png" height="20px" alt="" style="margin-top: -5px;margin-right: 5px">
                                <span>退出登录</span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--左侧导航栏-->
    <div class="container">
        <div class="row">
            <!--榜单-->
            <div class="col-sm-2 col-12" style="height: 200px;">
                <div class="sequence" style="padding: 10px; font-size: larger;font-weight: bold">
                    <p><a onclick="sendRank('time')" style="cursor:pointer"><img src="/img/time_list.png" height="25" alt=""> 时 间 榜</a></p>
                    <p><a onclick="sendRank('comment')"style="cursor:pointer"><img src="/img/comment_list.png" height="25" alt=""> 评 论 榜</a></p>
                    <p><a  onclick="sendRank('likes')" style="cursor:pointer"><img src="/img/good_list.png" height="25" alt=""> 点 赞 榜</a></p>
                </div>
            </div>
            <div class="col-sm-1"></div>

            <div class="col-sm-9 col-9">
                <!--发微博-->
                {% if login != None and state!='message'%}
                <div class="publish" style="margin-bottom: 50px;">
                    <form method="post" class="article" name="form1">
<!--                        <textarea type="text" id="share" placeholder="有什么新鲜事想告诉大家？"></textarea>-->
                        <script id="content" type="text/plain" name="content">有什么新鲜事想告诉大家？</script>

                        <!--艾特按钮和提交按钮-->
                        <div class="row">
                            <div class="col-sm-9 col-9" style="margin-top: 5px;margin-bottom: 5px">
                                <!--用户主页或我的微博每次加载 时 发送请求，得到关注表内容-->
                                <!-- Button trigger modal -->
{#                                <button type="button" data-toggle="modal" data-target="#aite_module">艾特</button>#}
                                <a href="" style="font-size: 22px;font-weight: bold; padding: 2px; float: left;
                                            background: rgba(255,255,255,0.5); border-radius: 5px"
                                   data-toggle="modal" data-target="#aite_module">@某人: </a>
                                <span id="aiteId" hidden ></span>
                                <!--展示艾特的序列-->
                                <span id="aiteMan" style="font-size:24px; float: left; margin-left: 5px;
                                    background: rgba(255,255,255,0.5); border-radius: 5px"></span>
                            </div>
                            <div class="col-sm-3 col-3">
                                <button type="button" onclick="sendPublish()">发布</button>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
                <!--微博列表-->
                {% for blogs in result1 %}
                <div class="col-12 row article-list"
                     style="border-bottom: solid 1px white;margin-bottom: 50px; background: rgba(255,255,255,0.2)">
                    <!--博主名称-->
                    <div class="col-sm-4 col-4" style="margin-top: -15px">
                        <span style="font-size: x-large; font-weight: bold">发帖人：<a href="/personal?user={{blogs.username}}"
                                style="font-size: 40px; color: white; font-weight: bold">{{blogs.username}}</a>
                        </span>
                    </div>
                    <!--发布相关信息-->
                    <div class="col-sm-8 col-xs-12" style="display: inline-block;height: 30px;">
                        <div class="row">
                            <!--时间-->
                            <div class="col-sm-5 col-5" style="margin-top: 10px">
                                <div class="when" style="font-weight: bold">{{blogs.time}}</div>
                            </div>
                            {% if blogs.user_id !=session['userid'] %}
                            <div class="col-sm-2 col-3">
                                <button id="follow" type="button" onclick="addFollow({{blogs.user_id}},'{{blogs.username}}')"
                                    style="width: 100px; border: none;border-radius: 5px">
                                    <span id="followB{{blogs.user_id}}-{{blogs.id}}">
                                    {% if blogs.user_id in result5 %}
                                    取消关注
                                    {% else %}
                                    关注伪主
                                    {% endif %}
                                    </span>
                                </button>
                            </div>
                            {% else %}
                            <div class="col-sm-2 col-3">
                                <button id="delweb" type="button" onclick="deleteweb({{blogs.id}})"
                                    style="width: 100px; border: none;border-radius: 5px">
                                   删除微博
                                </button>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                    <!--博文内容-->
                    <div class="container">
                        <div class="row">
                            <div class="cols-2"></div>
                            <div class="cols-6" id="user_content" style="border: solid 1px white;
                                border-radius:10px; padding: 10px; margin: 10px;
                                background: #f9f7fd;">
                                {{blogs.content}}
                                {% for item in result2[blogs.id] %}
                                    <a href="/personal?user={{item.username}}" style="padding: 10px;">@{{item.username}}</a>
                                {%endfor%}
                            </div>

                        </div>
                    </div>
                    <div class="container">
                        {% set img_list = blogs.picture.split(' ') %}
                        <div class="row">
                            {% for item in img_list %}
                            {% if item != "" %}
                                <div class="col-6">
                                    <img class="blog_img" src="/compress/{{item}}" alt="" style="width: 80%">
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <!--下面是评论部分，可以进行评论的撰写与发表-->
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-8" style="padding: 10px">
                            <textarea id="usercomment{{blogs.id}}" rows="3" cols="33" wrap="soft"
                                      maxlength="255" placeholder="发表评论" style="border-radius: 10px"></textarea>
                        </div>
                        <div class="col-3" style="padding-top: 10px">
                            <div style="cursor: pointer; background: rgba(255,255,255,0.5);
                                border-radius: 5px;width: 100px;margin-bottom: 10px"
                                onclick="addComment('{{blogs.id}}')">
                                <img src="/img/comment.png"
                                     style="width: 30px; height: 30px"> 发表评论
                            </div>
                            <div id="userlikes{{blogs.id}}" style="cursor: pointer; background: rgba(255,255,255,0.5);
                                border-radius: 5px;width: 70px;" onclick="addLikes('{{blogs.id}}')">
                                <img src="/img/good_list.png"
                                     style="width: 30px; height: 30px">
                                <span id="liks{{blogs.id}}">

                                {% if blogs.id in result4 %}
                                   取消
                                {% else %}
                                   点赞
                                {% endif %}
                                </span>

                            </div>
                        </div>
                    </div>
                    <!--展示评论点赞-->
                    <div class="container">
                        <p>
                            <button id="commentbutton{{blogs.id}}" type="button" onclick="clickComment({{blogs.id}})" data-toggle="collapse" data-target="#comment{{blogs.id}}" aria-expanded="false" aria-controls="comment{{blogs.id}}">
                                查看评论({{blogs.comment}})
                            </button>
                            <button id="likebutton{{blogs.id}}" type="button" onclick="clickLike({{blogs.id}})" data-toggle="collapse" data-target="#likes{{blogs.id}}" aria-expanded="false" aria-controls="likes{{blogs.id}}">
                                查看点赞({{blogs.likes}})
                            </button>
                        </p>
                        <div class="collapse" id="likes{{blogs.id}}">
                            <div id="Likeinfo{{blogs.id}}"class="card card-body">

                            </div>
                        </div>
                        <div class="collapse" id="comment{{blogs.id}}">

                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--页面导航-->
                <div class="col-12 paginate">
                    {% if page == 1 %}
                    <a href="/page/1">上一页</a>
                    {% else %}
                    <a href="/page/{{page-1}}">上一页</a>
                    {% endif %}
                    {% for i in range(total) %}
                    <a href="/page/{{i+1}}">{{i+1}}</a>
                    {% endfor %}
                    {% if page == total %}
                    <a href="/page/{{total}}">下一页</a>
                    {% else %}
                    <a href="/page/{{page+1}}">下一页</a>
                    {% endif %}
                </div>
            </div>
            <!--右侧栏，包括普通视图下的登录以及隐藏的登陆注册界面-->
            <div>
                <!-- Modal -->
                <div class="modal fade" id="MyModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login_module" role="tab" aria-controls="login_module"
                                            aria-selected="true">
                                            <h6>登录</h6>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="regist-tab" data-toggle="tab" href="#regist_module" role="tab" aria-controls="regist_module"
                                            aria-selected="false">
                                            <h6>注册</h6>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="change-tab" data-toggle="tab" href="#change_module" role="tab" aria-controls="change_module"
                                            aria-selected="false">
                                            <h6>重置密码</h6>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content border border-top-0" id="myTabContent" >
                                    <div class="tab-pane fade show active" id="login_module" role="tabpanel" aria-labelledby="login-tab">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <form id="login">
                                                    <legend style="text-align: center">登录界面</legend>
                                                    <table style="margin: 0 auto">
                                                        <tr>
                                                            <td><label for="username_login">用户名:</label></td>
                                                            <td><input type="text" id="username_login"
                                                                   placeholder="请输入用户名/邮箱" required autofocus>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><label for="password_login">密码:</label></td>
                                                            <td><input type="password" id="password_login"
                                                                   placeholder="请输入密码" pattern=".{6,}" maxlength="16" required>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div class="row">
                                                        <div class="col-1"></div>
                                                        <div class="col-5">
                                                            <button type="button" class="btn btn-primary" onclick="sendLogin('login_module')" data-dismiss="modal">确定</button>
                                                        </div>
                                                        <div class="col-5">
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="regist_module" role="tabpanel" aria-labelledby="regist-tab">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <form id="regist">
                                                    <legend style="text-align: center">注册界面</legend>
                                                    <table style="margin: 0 auto">
                                                        <tr>
                                                            <td><label for="username_regist">用户名:</label></td>
                                                            <td><input type="text" id="username_regist"
                                                                oninput="check('username_regist')" pattern="[\u4e00-\u9fa5|a-zA-Z|\s*]{2,}"
                                                                placeholder="请输入用户名" required autofocus>
                                                            </td>
                                                            <td><p id="pname" style="margin-top: 5px; text-align: left"></p></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label for="username_regist">邮__箱:</label></td>
                                                            <td><input type="text" id="email_regist"
                                                                oninput="check('email_regist')" pattern="(\w-*\.*)+@(\w-?)+\.+((\w-*\.*)\.+(com|cn))|(com|cn)"
                                                                placeholder="请输入邮箱" required autofocus>
                                                            </td>
                                                            <td><p id="pemail" style="margin-top: 5px; text-align: left"></p></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label for="username_regist">联系方式:</label></td>
                                                            <td><input type="text" id="phone_regist"
                                                                oninput="check('phone_regist')" pattern="1\d{10}"
                                                                placeholder="请输入手机号" required autofocus>
                                                            </td>
                                                            <td><p id="pphone" style="margin-top: 5px; text-align: left"></p></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label for="password_regist">密__码:</label></td>
                                                            <td><input type="password" id="password_regist"
                                                                oninput="check('password_regist')" placeholder="必须包含字母、数字，至少6位"
                                                                pattern="(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}" maxlength="18" required>
                                                            </td>
                                                            <td><p id="ppassword" style="margin-top: 5px; text-align: left"></p></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label for="password_confirm">请确认:</label></td>
                                                            <td><input type="password" id="password_confirm"
                                                               oninput="check('password_confirm')" placeholder="再次输入密码"
                                                               pattern="(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}" maxlength="18" required>
                                                            </td>
                                                            <td><p id="pconfirm" style="margin-top: 5px; text-align: left"></p></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="display: inline;">
                                                                <textarea placeholder="介绍你自己"
                                                                          style="width: 80%;"
                                                                          id="content_regist"></textarea>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div class="row">
                                                        <div class="col-1"></div>
                                                        <div class="col-5">
                                                            <button type="submit" class="btn btn-primary" onclick="sendRegister('regist_module')" data-dismiss="modal">注册</button>
                                                        </div>
                                                        <div class="col-5">
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="tab-pane container" id="change_module" role="tabpanel" aria-labelledby="change-tab">
                                        <!--我也不知道加哪里好了-->
                                        <div class="modal-body">
                                            <div class="form-group row" style="...">
                                                <label for="regname" class="col-4"> 注册邮箱 </label>
                                                <input type="text" id="regname" class="form-control col-7" placeholder="请输入注册时候的邮箱"/>
                                            </div>

                                            <div class="form-group row" style="...">
                                                <button style="display:block;" id="btn_send" onclick="doSendMail()"
                                                        class="btn btn-dark" data-dismiss="modal"> 发送邮件 </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

<!-- 艾特模态框 -->
<div class="modal fade" id="aite_module" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">请选择要(取消)艾特的小伙伴</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-group" id="AiteList">
                {% for Aitem in AiteRe %}

                    <button onclick="AiteOne({{Aitem.follower_id}},'{{Aitem.follower_name}}')" type="button"
                            class="list-group-item list-group-item-action" data-dismiss="modal">
                    {{Aitem.follower_name}}
                </button>
                {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>